@import url('./include/navbar.css');
@import url('./variables.css');
@import url('./override.css');

html, body {
    min-height: 100vh;
    /* min-height: -webkit-fill-available; */
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Targets authenticated section */
main > section {
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
}

section {
    min-height: 95vh;
    padding-bottom: 3rem;
}

aside {
    z-index: 1050;
    background-color: #07216a;;
}

.common-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.common-container:nth-child(2) {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .common-container {
        flex-direction: row;
    }
}
