@import url('./include/navbar.css');
@import url('./variables.css');
@import url('./override.css');

html, body {
    min-height: 100vh;
    /* min-height: -webkit-fill-available; */
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Targets authenticated section */
main > section {
    width: 100%;
    flex-grow: 1;
    /* padding: 2rem; */
    overflow: auto;
    position: relative;
}

main > section > div {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    z-index: 1050;
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

header h4 {
    margin-left: 1rem;
}

section {
    min-height: 95vh;
    padding-bottom: 3rem;
}

aside {
    z-index: 1050;
    background-color: #07216a;;
}

.common-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.common-container:nth-child(2) {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .common-container {
        flex-direction: row;
    }
}

/* back to top */
.back-to-top {
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 64px;
    height: 64px;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    background-image: url(../assets/images/back-to-top-icon-png-0.jpg);
    background-size: cover;
    opacity: .5;
  }
  .back-to-top:hover {
    opacity: 1;
    transform: scale(1.3);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
  