
input#uploadFile {
	display: none;
}

input#importcsv {
	display: none;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

td.more-details {
    background: url('../assets/images/plussymbol.jpg') no-repeat center center;
    cursor: pointer;
    width: 20px;
    height: 30px;
}
tr.shown td.more-details {
    background: url('../assets/images/minussymbol.jpg') no-repeat center center;
}