.text-cpu-blue {
    color: #07216a;
}

.text-cpu-orange {
    color: #e48a2a
}

.bg-cpu-blue {
    background-color: #07216a;
}

.bg-cpu-orange {
    background-color: #e48a2a
}

.btn-outline-cpu-blue {
    color: #07216a;
    border-color: #07216a;
}

.btn-outline-cpu-orange {
    color: #e48a2a;
    border-color: #e48a2a;
}