#nav__header {
    background: white;
    height: 100px;
    z-index: 10;
}

#nav__header__text {
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}

#nav__menu {
    background-color: #e48a2a;
}

#nav__menu .nav-link {
    color: white;
}

#nav__header__container {
    bottom: -10px;
}

@media (min-width: 1200px) {
    #nav__menu__container {
        width: 75%;
    }
}